
body {
    font: 12px Arial;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

ul li {
    float: left;
}

ul {
    list-style: none;
}

ul:after {
    content: "";
    display: table;
    clear: both;
}

button {
    width: 200px;
    height: 60px;
    font-weight: bold;
}
